<footer class="footer py-3">
    <p>&copy; 2021 Grzegorz Jordanek</p>
    <ul class="nav">
        <li class="ms-3">
          <a class="link-dark" href="mailto:example@outlook.com">
            <i class="bi bi-envelope-fill" style="font-size: 1.3rem"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="link-dark" href="https://github.com/grzegorzjordanek">
            <i class="bi bi-github" style="font-size: 1.3rem"></i>
          </a>
        </li>
      </ul>
</footer>