<section class="card border-0 mb-3">
    <div class="card-body">
        <h3 class="card-title"><a href="{{ .Permalink }}" class="text-decoration-none">{{ .Title }}</a></h3>
        <h6 class="card-subtitle mb-2 text-muted">
            <time>{{ .Date.Format "January 2, 2006" }}</time> |
            {{range .Params.tags}}
                <a href="/tags/{{ . }}" class="card-link text-decoration-none bg-light px-2">{{ . }}</a>
            {{ end }}
        </h6>
        <p class="card-text">{{.Summary}}</p>
    </div>
</section>