body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 65%;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    justify-content: center;
    align-content: stretch;
    place-items: stretch;
    font-family: 'Titillium Web', sans-serif;

    header {
        grid-area: header;
        justify-content: center;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        align-content: stretch;
    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 
        'leftside'
        'rightside';
        place-content: space-between;
    }
}